.navBar {
    padding: 20px;
    text-decoration: none
}

.navLink {
    color: white;
    
}

.navLinkActive {
color: white;
padding-top: 4px;
padding-left: 10px;
padding-right: 10px;
}

.navLinkPlain {
color:darkgray;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
}

.icons {
    padding-left: 20px;
    padding-right: 18px;
}


