.navBar {
    padding: 20px;
    text-decoration: none
}

.navLink {
    color: white;
    
}

#nav-link-active {
color: white;
}

#nav-link {
color:red;
}

.icons {
    padding-left: 20px;
    padding-right: 20px;
}


